main {
    text-align: center;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

section {
    height: 100%;
    scroll-snap-align: start;
    margin-top: 0;
}

section > div {
    height: calc(100vh - 55px);
    margin: auto 10%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    align-items: center;
    padding: 10px;
}

h1 {
    font-size: xxx-large;
}

/* Pie */
.highcharts-credits, .highcharts-background {
    display: none;
}

.highcharts-figure {
    padding: 10px 0;
    overflow-y: hidden;
}

@media all and (max-width: 530px) {
    section > div {
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        margin: auto 10px;
    }

    section > div > h1 {
        grid-row: 1;
    }
}