body {
    background-color: #FB9F06;
}

main {
    color: white;
    text-align: center;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

section {
    height: 100%;
    scroll-snap-align: start;
    padding: 20%;
    margin-top: 0;
}

section > div {
    width: 60%;
    margin: auto;
}