main {
    display: grid;
    padding: 10px;
}

@keyframes slideDown {
    0% {
        transform: translateY(-30%) translateX(-2%);
    }
    100% {
        transform: translateY(0) translateX(0);
    }
}

main > * {
    margin: auto;
    text-align: justify;
    text-align-last: center;

    animation: 0.5s ease-out 0s 1 slideDown;
}

p {
    font-family: marianne-regular, sans-serif;
}

h1 {
    text-shadow: 1px 1px 2px gray;
    margin-bottom: 40px;
}

a {
    color: #3D86BA;
}

a:hover {
    color: #3D86BA;

}

hr {
    margin-top: 50px;
    margin-bottom: 50px;
}

#home_social {
    display: grid;
    width: min-content;
    margin: auto;
    gap: 200px;
    height: 10vh;
}

#home_social > * {
    grid-auto-columns: max-content;
    grid-row: 1;
    margin: auto;
    width: 10vh;
}

#home_social img {
    height: 8vh;
}

#home_social > *:hover img {
    height: 9vh;
}

#home_presentation_div {
    width: 80vw;
}

@media all and (max-width: 520px) {
    #home_social {
        display: grid;
        width: auto;
        margin: initial;
        gap: initial;
    }
}