main {
    text-align: center;
    display: grid;
    grid-auto-columns: min-content auto min-content;
    grid-template-rows: 1fr;
    align-items: center;
    gap: 150px;
}

main > * {
    grid-row: 1;
}

section:not(.active) {
    display: none;
}

.arrow {
    color: white;
    font-size: xxx-large;
    position: relative;
    margin: 50px;
}

.arrow:hover {
    text-decoration: none;
    cursor: pointer;
    color: lightgray;
}

@media all and (max-width: 530px) {
    main {
        gap: 10px;
    }

    .arrow {
        margin: 10px;
    }
}