main {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

h1 {
    text-align: center;
}

p {
    font-family: marianne-regular, sans-serif;
    text-align: justify;
    text-align-last: center;
}

section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    height: calc(100vh - 55px);
    scroll-snap-align: start;

    overflow-y: hidden;
}

section > * {
    height: 100%;
}

.image-center {
    display: grid;
}

.image-center img {
    height: 40vh;
    max-width: 90%;
    margin: auto;
}

.content-center {
    display: grid;
    padding: 50px;
}

.content-center > * {
    margin: auto;
}

.button-group {
    display: grid;
    gap: 5px;
    text-align: center;
    padding: 5px;
}

@media all and (max-width: 1000px){
    section {
        grid-template-columns: 1fr;
    }
}