main {
    display: grid;
    gap: 15px;
}

h1 {
    text-align: center;
}

.logo_container img {
    height: 20vh;
}

.logo_container > * {
    margin-right: 10px;
    margin-left: 10px;
}

section {
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
    text-align-last: center;
}