#discord-icon-container {
    background-color: #7289DA;
}

#nodejs-icon-container {
    background-color: #333333;
}

#debug-icon-container {
    background-color: #0D94A4;
}

#learn-icon-container {
    background-color: #EC9324;
}